<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.enespc.remembertry3" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_INTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.NFC" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.INTERACT_ACROSS_USERS_FULL"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="a20df62d8b27c3dc9bb57831c86f29d31b80b1fe" />

        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity
            android:name=".Deneme"
            android:label="@string/title_activity_deneme" >
        </activity>
        <activity
            android:name=".PreferencesList"
            android:label="@string/title_activity_preferences_list" >
        </activity>
        <activity
            android:name=".BoxSenseCardListActivity"
            android:label="@string/title_boxsensecard_list" >
        </activity>
        <activity
            android:name=".BoxSenseCardDetailActivity"
            android:label="@string/title_boxsensecard_detail"
            android:parentActivityName=".BoxSenseCardListActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.enespc.remembertry3.BoxSenseCardListActivity" />
        </activity>
        <activity
            android:name=".ReceivePage"
            android:label="@string/title_activity_receive_page" >
        </activity>
        <activity
            android:name=".Location"
            android:label="@string/title_activity_location" >
        </activity>
        <activity
            android:name=".Send"
            android:label="@string/title_activity_send" >
        </activity>
        <activity
            android:name=".Display"
            android:label="@string/title_activity_display" >
            <intent-filter>
                <action android:name="android.nfc.action.NDEF_DISCOVERED"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <data android:mimeType="text/plain"/>
            </intent-filter>
        </activity>
    </application>

</manifest>
